@page "/profile/changepassword"
@inject NavigationManager NavManager

<h1>Profile</h1>

<h3>@GetAccountType() Account</h3>

<div id="profile-edit-container">
    <EditForm Model="@passForm" OnSubmit="@SubmitNewPass">
        <InputText id="old-pass" placeholder="Old Password" @bind-Value="passForm.oldPassword"/>
        <InputText id="new-pass" placeholder="New Password"  @bind-Value="passForm.newPassword"/>
        <InputText id="retype-new-pass" placeholder="Retype New Password"  @bind-Value="passForm.retypedPassword"/>

        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    //Replace with select operation form database.
    private string accountType = "Student";

    private string GetAccountType()
    {
        return accountType;
    }

    //Replace with select operation form database.
    private string userName = "Scott Mumby";

    private string GetUserName()
    {
        return userName;
    }

    Data.ProfilePasswordForm passForm = new Data.ProfilePasswordForm();

    private void SubmitNewPass()
    {
        //On Success
        NavManager.NavigateTo("/profile");
    }
}
