<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
@page "/"

<PageTitle>Home Page</PageTitle>

<<<<<<< Updated upstream
<h1>Home Page</h1>

Welcome to our society event broadcast app.


<nav class="nav">
  <a class="nav-link active" href="#">Societies</a>
  <a class="nav-link" href="#">Calendar</a>
  <a class="nav-link" href="#">Friends</a>
  <a class="nav-link disabled">Venues</a>
</nav>

@code
{

}
=======
<!doctype html>
<html lang="en">
    <body>
        <nav class="nav">
        <a href="https://localhost:7161/counter" class="nav-link" role="button">Home</a>
        <a href="https://localhost:7161/counter" class="nav-link" role="button">Societies</a>
        <a href="https://localhost:7161/counter" class="nav-link" role="button">Venues</a>
        <a href="https://localhost:7161/counter" class="nav-link" role="button">Friends</a>
        <a href="https://localhost:7161/counter" class="nav-link" role="button">Profile</a>
        <a href="https://localhost:7161/counter" class ="nav-link" role="button">Calendar</a>

        <div class="overflow-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
</nav>
    </body>
</html>
>>>>>>> Stashed changes
