@page "/"

<PageTitle>Home Page</PageTitle>

<h1>Home Page</h1>

Welcome to our society event broadcast app.


<nav class="nav">
  <a class="nav-link active" href="#">Societies</a>
  <a class="nav-link" href="#">Calendar</a>
  <a class="nav-link" href="#">Friends</a>
  <a class="nav-link disabled">Venues</a>
</nav>

@code
{

}
