@page "/signin"
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div id="profile-background">
    <div id="profile-bar" class="m-x-5 w-75 bg-white rounded-3 m-5 d-lg-flex flex-row justify-content-between p-1 flex-nowrap text-center">
        <h2>Sign In</h2>
    </div>

    <div id="profile-body-container" class="m-x-5 w-100 bg-white rounded-profile p-3">
        <div id="profile-description-container">
            <div id="profile-edit-container" class="flex-column justify-content-center text-center">
                <h2 class="text-center fw-bold">Sign In:</h2>
                <EditForm Model="@sIM" OnSubmit="FormSubmit">
                    <InputText id="userName" class="d-block mb-2" placeholder="Username" @bind-Value="sIM.UserName" />
                    <InputText id="password" class="d-block mb-2" placeholder="Password" @bind-Value="sIM.Password" />
                    <MudButton class="m-3" ButtonType="ButtonType.Submit">Submit</MudButton>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    Data.SignInModel sIM = new Data.SignInModel();

    private void FormSubmit()
    {
        Data.MySQLDB db = new Data.MySQLDB();
        if (db.PasswordCheck(sIM.UserName, sIM.Password))
        {
            int userId = db.SignIn(sIM.UserName);
            sessionStorage.SetItemAsync("userId", userId);
            NavManager.NavigateTo("/");
        }
        else
        {
            //Wrong Pass
        }
    }



}
