@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>BlazorApp1</PageTitle>

<div class="page">

    <main>
        <div class="top-row w-100 justify-content-center" m-0 p-0>
            <a href="" class="ml-0" @onclick="HomePage">Home</a>
            <a href="" @onclick="Explore">Explore</a> <!--CHANGE WHEN Explore PAGE IS Added-->
            <a href="" @onclick="Societies">Societies</a>
            <a href="" @onclick="Calendar">Calendar</a>
            @if(signedIn)
            {
                <a href="" @onclick="Profile"><img id="small-profile-img" src="@GetProfilePhoto()" /></a>
            }
            else
            {
                <a href="" @onclick="SignIn">Sign In</a>
                <a href="" @onclick="CreateAccount">Create Account</a>
            }
        </div>

        <article class="content p-0">
            @Body
        </article>
    </main>
</div>

@code{
    bool signedIn = false;  

    string userId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetSessionUser();
        StateHasChanged();
    }

    private async Task GetSessionUser()
    {
        userId = await sessionStorage.GetItemAsync<String>("userId");
        if (userId != null)
        {
            signedIn = true;
        }
        else
        {
            signedIn = false;
        }
    }

    private void HomePage()
    {
        NavManager.NavigateTo("/");
    }
    private void Explore()
    {
        NavManager.NavigateTo("/Explore");
    }
    private void Societies()
    {
        NavManager.NavigateTo("/Societies");
    }
    private void Profile()
    {
        NavManager.NavigateTo("/Profile");
    }
    private void Calendar()
    {
        NavManager.NavigateTo("/Calender");
    }
    private void SignIn()
    {
        NavManager.NavigateTo("/Signin");
    }

    private void CreateAccount()
    {
        NavManager.NavigateTo("/CreateAccount");
    }

     private string GetProfilePhoto()
    {

        Data.MySQLDB db = new Data.MySQLDB();
        string photoName = db.GetProfilePhoto(Convert.ToInt32(userId));
        Console.WriteLine(photoName);
        string src = $"userphotos\\{photoName}";
        return src;
    }
}
